// DELETE BUTTON

.collective {
  &__schedule {
    &__item {
      &-delete {
        border: none;
        color: var(--primary);
        cursor: pointer;
        background-color: var(--secondary);
        font-size: 1.2rem;
      }
    }
  }
}


