.article {
  &__container {
    margin:  0px 30px 45px 30px;
  }

  &__row {
    display: flex;
    flex-direction: row;
  }

  &__row-reverse {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }

  &__col {
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__text-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__heading {
    margin: 20px 35px;
    font-size: 1.6em;
  }

  &__text {
    margin: 20px 35px;
    font-size: 1.1rem;
    line-height: 2rem;
  }

  &__img-wrapper {
    margin: auto;
  }
}

img {
  border: none;
  max-width: 90%;
}

@media screen and (max-width: 1250px) {
  .article {
    &__heading {
      font-size: 1.4em;
    }

    &__col {
      width: 100%;
    }

    &__img-wrapper {
      max-width: 1000px;
    }

    &__text {
      margin: 20px 35px;
      font-size: 1rem;
      line-height: 1.6rem;
    }
  
  }
}

@media screen and (max-width: 960px) {
  .article {
    &__container {
      margin: 0px 30px;
    }

    &__row {
      flex-direction: column;
    }

    &__row-reverse {
      flex-direction: column;
    }
  }
}
