.retreat {
  &__transport {
    &__container {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }

    &__card {
      width: 25%;

      &__title {
        margin: 20px;
      }

      &__instruction {
        margin-bottom: 15px;
        font-size: 1rem;
        text-align: justify;
        line-height: 1.8rem;
      }

      &__instruction::before {
        content: "→";
        color: var(--primary);
        font-weight: bold;
        display: inline-block;
        width: 1.4em;
        margin-left: -1em;
      }
    }

    &__map {
      margin: 20px 0;
    }

    &__aside {
      margin: 20px 0;
    }
  }
}

@media screen and (max-width: 768px) {
  .retreat {
    &__transport {
      display: flex;
      flex-direction: column;
      align-items: center;

      &__container {
        flex-direction: column;
        width: 80%;
      }

      &__card {
        width: 100%;

        &__instruction::before {
          margin-left: 0;
        }
      }
    }
  }
}
