.parallax-wrapper {
  overflow-y: hidden;
}

.imgparallax {
  background-image: url("../../../assets/images/retreat-1.webp");
  background-size: cover;
  background-position: center;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.retreat {
  &__title {
    font-size: 3rem;
    color: var(--outlined);
  }

  &__undertitle {
    font-size: 2rem;
    margin: 3rem;
  }

  &__section {
    margin: 5rem 0;
  }
}

@media screen and (max-width: 768px) {
  .retreat {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__section {
      margin: 3rem 0;
    }
  }
}
