@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.arrows-slide {
  font-size: 30px;
  margin: 0 20px;
  color: var(--primary);
}

.activeSlide {
  transform: scale(1);
  opacity: 1;
}

.slick-dots li button:before {
  font-size: 8px;
  margin-top: 8px;
  color: var(--primary);
}

/* IMAGE SLIDER */

.slide {
  transform: scale(0.6);
  transition: transform 300ms;
  opacity: 0.5;
}

.activeSlide {
  transform: scale(1);
  opacity: 1;
}

.arrow {
  position: absolute;
  cursor: pointer;
  z-index: 10;
}

.arrow svg {
  transition: color 300ms;
}

.arrow svg:hover {
  color: black;
}

.next {
  right: 0%;
  top: 50%;
}

.prev {
  left: 0%;
  top: 50%;
}

// COMPONENT RELATED STYLING

.slide {
  background-color: var(--secondarylighter);
  border-radius: 10px;
  border: 2px solid var(--secondarydarker);
  max-width: 95%;

  &__title {
    color: var(--primary);
    line-height: 2rem;
    font-size: 1.2rem;
    padding: 0 30px;
  }

  &__img {
    margin: 15px auto;
    max-height: 210px;
  }

  &__characteristics {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
    color: var(--primary);

    &__item {
      width: 35%;
      &-icon {
        color: var(--primary);
      }
    }
  }
  &__price {
    font-size: 1.8rem;
    color: var(--primary);
    padding: 20px 0; 
  }
}

@media screen and (max-width: 1395px) {
  .arrows-slide {
    font-size: 25px;
    margin: 0 -40px;
  }
}

@media screen and (max-width: 1020px) {
  .arrows-slide {
    font-size: 20px;
    margin: 0 -30px;
  }
}

@media screen and (max-width: 768px) {
  .slick-dots li button:before {
    font-size: 10px;
    line-height: 0;
  }

  .arrows-slide {
    display: none;
  }
}
