.form__base,
.form__option,
.form__booking,
.form__information {
  padding: 20px 0;
}

.form__element {
  padding: 15px 0;
}

.form__input {
  font-family: 'Jost', sans-serif;
  padding: 5px 10px;
  margin-left: 7px;
  width: 300px;
  font-size: 18px;
}

.--base {
  width: 480px;
}

.--room {
  width: 520px;
}

.--date {
  width: 220px;
}

.--pax {
  width: 245px;
}

.--text {
  width: 500px;
  height: 150px;
}

.form__warning {
  color: darkred;
  text-align: center;
}

.form__row-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.--second-block-element {
  margin-left: 25px;
}

.form__small-span {
  font-size: 0.8rem;
}

.checkbox {
  display: block;
}

label input {
  margin-right: 5px;
}

.btn--back-to-menu {
  margin:20px;
}

@media screen and (max-width: 769px) {
  .form__row-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .--second-block-element {
    margin-left: 0px;
  }

  .form__input {
    width: 300px;
    max-width: 90%;
  }

  .--room {
    width: 350px;
  }

  .--date {
    width: 300px;
  }

  .--pax {
    width: 350px;
  }

  .--text {
    width: 300px;
    height: 150px;
  }

  .--room,
  .--date,
  .--pax,
  .--text {
    max-width: 90%;
  }

  .btn--option {
    margin: 10px;
  }


}

