// NAVBAR ARCHITECTURE

.navbar {
  background: var(--primary);
  height: 80px;
  position: sticky;
  top: 0;
  z-index: 999;

  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  &__menu {
    height: 95%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    padding: 0 1rem;

    &__left {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      width: 30%;
    }

    &__center {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 30%;
    }

    &__right {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      width: 30%;
    }
  }
}

// STYLING NAVBAR MENU ITEMS

.nav-links {
  color: var(--outlined);

  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0rem 2rem;
  height: 100%;

  font-family: "Roboto", sans-serif;
  font-weight: 350;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  white-space: nowrap;
}

.nav-item {
  height: 100%;
  border-bottom: 2px solid transparent;
}

.nav-item:hover {
  border-bottom: 2px solid var(--outlined);
}

.--social {
  font-size: 1.3rem;
}

// STYLING NAVBAR TITLE/LOGO

.navbar {
  &__title {
    display: flex;
    align-items: center;
    cursor: pointer;

    color: var(--secondary);
    font-size: 1.7rem;
    font-family: "Homemade Apple", cursive;
    white-space: nowrap;
    text-decoration: none;
  }

  &__icon {
    margin: 0 1rem 0 0.5rem;
    height: 3rem;
    filter: invert(99%) sepia(77%) saturate(750%) hue-rotate(298deg)
      brightness(103%) contrast(95%);
  }
}

// MOBILE MENUS

.mobilemenu {
  &__navbar {
    display: none;
  }
}

@media screen and (max-width: 1250px) {
  .nav-links {
    padding: 0rem 1.1rem;
  }

}

@media screen and (max-width: 960px) {
  .mobilemenu {
    &__navbar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 100%;
      font-size: 1.8rem;
      cursor: pointer;
      width: 100%;
      align-items: center;
      padding: 0 2rem;
    }

    &__logo,
    &__title {
      height: 100%;
      display: flex;
      align-items: center;
    }

    &__button {
      color: var(--secondary);
    }
  }

  .navbar {
    &__menu__center {
      display: none;
    }

    &__menu__left,
    &__menu__right {
      width: 100%;
      display: flex;
      flex-direction: column;
 }

    &__menu {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;


      width: 100%;
      height: 60vh;
      position: absolute;
      top: 80px;
      left: -150%;
      opacity: 1;
      transition: all 0.5s ease;
    }

    &__menu.active {
      background: var(--primary);

      left: 0%;
      padding: 0;
      opacity: 1;
      transition: all 0.6s ease;
      z-index: 1;
    }
  }

  .nav {
    &-links {
      height: 4rem;
      justify-content: flex-end;
      margin-right: 1rem;
    }

    &-item:hover {
      background-color: var(--secondary);
    }

    &-links:hover {
      color: var(--primary);
    }
  }
}
